.image-container {
    position: relative; /* מאפשר למקם את הכפתור מעליו */
    width: 100%;
    height: 100vh; 
    overflow: hidden;/* 100% מגובה viewport */
  }
  
  .image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* מכסה את כל האזור, חותך חלקים שאינם נכנסים */
  }
.button {
  position: absolute;
  top: 16px; /* המרחק מלמעלה */
  right: 16px; /* המרחק מצד ימין */
  z-index: 1; /* לוודא שהכפתור יימצא מעל התמונה */
}